In [1]:
import pandas as pd

In [2]:
# read dataset
df = pd.read_csv('db/tourism.csv')
df.head()

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,1960,1961,1962,1963,1964,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ABW,Aruba,760,Access to electricity (% of population),Value,NaN,NaN,NaN,NaN,NaN,...,9.335455e+01,9.335629e+01,9.394238e+01,9.425581e+01,9.457826e+01,9.490672e+01,9.523818e+01,9.557014e+01,NaN,NaN
1,ABW,Aruba,778,"Foreign direct investment, net inflows (BoP, c...",Value,NaN,NaN,NaN,NaN,NaN,...,-1.061453e+07,1.867598e+08,4.881564e+08,-3.146927e+08,2.263714e+08,2.506181e+08,-2.877586e+07,2.098217e+07,8.765363e+07,NaN
2,ABW,Aruba,781,"GNI per capita, Atlas method (current US$)",Value,NaN,NaN,NaN,NaN,NaN,...,2.377000e+04,2.237000e+04,2.245000e+04,2.352000e+04,2.397000e+04,2.450000e+04,2.378000e+04,2.356000e+04,2.366000e+04,NaN
3,ABW,Aruba,804,Urban population (% of total),Value,50.776,50.761,50.746,50.73,50.715,...,4.342100e+01,4.305900e+01,4.294000e+01,4.295700e+01,4.299000e+01,4.304100e+01,4.310800e+01,4.319200e+01,4.329300e+01,NaN
4,ABW,Aruba,808,Agricultural raw materials exports (% of merch...,Value,NaN,NaN,NaN,NaN,NaN,...,2.599110e-02,1.587480e-01,9.824920e-02,3.236802e-02,4.757032e-02,5.521449e-02,9.262138e-02,8.505192e-02,7.904827e-02,NaN

In [3]:
# select tourism data: "Indicator Id" between 1837-1846
df = df[ (df['Indicator Id'] >= 1837) & (df['Indicator Id'] <= 1846) ]
df.head()

,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,1960,1961,1962,1963,1964,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
131,ABW,Aruba,1837,"International tourism, expenditures (current US$)",Value,NaN,NaN,NaN,NaN,NaN,...,2.640000e+08,2.610000e+08,2.870000e+08,2.940000e+08,3.420000e+08,3.520000e+08,3.610000e+08,3.320000e+08,362000000.0,NaN
132,ABW,Aruba,1838,"International tourism, expenditures for passen...",Value,NaN,NaN,NaN,NaN,NaN,...,2.100000e+07,1.800000e+07,1.800000e+07,1.900000e+07,2.200000e+07,2.200000e+07,1.700000e+07,1.300000e+07,13000000.0,NaN
133,ABW,Aruba,1839,"International tourism, expenditures for travel...",Value,NaN,NaN,NaN,NaN,NaN,...,2.430000e+08,2.430000e+08,2.690000e+08,2.750000e+08,3.200000e+08,3.300000e+08,3.440000e+08,3.190000e+08,349000000.0,NaN
134,ABW,Aruba,1840,"International tourism, expenditures (% of tota...",Value,NaN,NaN,NaN,NaN,NaN,...,8.392264e+00,1.258695e+01,4.245492e+00,1.024610e+01,1.507080e+01,1.556389e+01,1.692776e+01,1.652659e+01,NaN,NaN
135,ABW,Aruba,1841,"International tourism, number of arrivals",Value,NaN,NaN,NaN,NaN,NaN,...,8.130000e+05,8.240000e+05,8.690000e+05,9.040000e+05,9.790000e+05,1.072000e+06,1.225000e+06,1.102000e+06,1070500.0,NaN

In [4]:
# delete unwanted columns
del df['Indicator Id']
del df['Subindicator Type']

# unpivot the year columns
df2 = pd.melt(df, id_vars=['Country ISO3', 'Country Name', 'Indicator'],
              var_name = 'Year', value_name ='Value')
df2.head()

,Country ISO3,Country Name,Indicator,Year,Value
0,ABW,Aruba,"International tourism, expenditures (current US$)",1960,NaN
1,ABW,Aruba,"International tourism, expenditures for passen...",1960,NaN
2,ABW,Aruba,"International tourism, expenditures for travel...",1960,NaN
3,ABW,Aruba,"International tourism, expenditures (% of tota...",1960,NaN
4,ABW,Aruba,"International tourism, number of arrivals",1960,NaN

In [5]:
# select years >= 2000
df2['Year'] = df2['Year'].astype(int)
df3 = df2[ df2['Year'] >= 2000 ]
df3.head()

,Country ISO3,Country Name,Indicator,Year,Value
73640,ABW,Aruba,"International tourism, expenditures (current US$)",2000,1.630000e+08
73641,ABW,Aruba,"International tourism, expenditures for passen...",2000,1.700000e+07
73642,ABW,Aruba,"International tourism, expenditures for travel...",2000,1.460000e+08
73643,ABW,Aruba,"International tourism, expenditures (% of tota...",2000,1.082450e+01
73644,ABW,Aruba,"International tourism, number of arrivals",2000,7.210000e+05

In [6]:
# pivot the Indicator
df4 = df3.pivot(columns='Indicator', values='Value')
df4.head()

Indicator,"International tourism, expenditures (% of total imports)","International tourism, expenditures (current US$)","International tourism, expenditures for passenger transport items (current US$)","International tourism, expenditures for travel items (current US$)","International tourism, number of arrivals","International tourism, number of departures","International tourism, receipts (% of total exports)","International tourism, receipts (current US$)","International tourism, receipts for passenger transport items (current US$)","International tourism, receipts for travel items (current US$)"
73640,NaN,163000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73641,NaN,NaN,17000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73642,NaN,NaN,NaN,146000000.0,NaN,NaN,NaN,NaN,NaN,NaN
73643,10.824497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73644,NaN,NaN,NaN,NaN,721000.0,NaN,NaN,NaN,NaN,NaN

In [7]:
# join country names with pivot table based on index
df5 = df3.join(df4)

# delete unwanted columns
del df5['Value']
del df5['Indicator']
df5.head()

,Country ISO3,Country Name,Year,"International tourism, expenditures (% of total imports)","International tourism, expenditures (current US$)","International tourism, expenditures for passenger transport items (current US$)","International tourism, expenditures for travel items (current US$)","International tourism, number of arrivals","International tourism, number of departures","International tourism, receipts (% of total exports)","International tourism, receipts (current US$)","International tourism, receipts for passenger transport items (current US$)","International tourism, receipts for travel items (current US$)"
73640,ABW,Aruba,2000,NaN,163000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73641,ABW,Aruba,2000,NaN,NaN,17000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73642,ABW,Aruba,2000,NaN,NaN,NaN,146000000.0,NaN,NaN,NaN,NaN,NaN,NaN
73643,ABW,Aruba,2000,10.824497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73644,ABW,Aruba,2000,NaN,NaN,NaN,NaN,721000.0,NaN,NaN,NaN,NaN,NaN

In [9]:
# save dataset
df5.to_csv('db/tourism_cleaned.csv', index=False)

In [11]:
df6 = df5[ df5['Country Name']  == 'Brazil']

In [12]:
df6.head(100)

,Country ISO3,Country Name,Year,"International tourism, expenditures (% of total imports)","International tourism, expenditures (current US$)","International tourism, expenditures for passenger transport items (current US$)","International tourism, expenditures for travel items (current US$)","International tourism, number of arrivals","International tourism, number of departures","International tourism, receipts (% of total exports)","International tourism, receipts (current US$)","International tourism, receipts for passenger transport items (current US$)","International tourism, receipts for travel items (current US$)"
73868,BRA,Brazil,2000,NaN,4.548000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73869,BRA,Brazil,2000,NaN,NaN,6.540000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73870,BRA,Brazil,2000,NaN,NaN,NaN,3.894000e+09,NaN,NaN,NaN,NaN,NaN,NaN
73871,BRA,Brazil,2000,6.354041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73872,BRA,Brazil,2000,NaN,NaN,NaN,NaN,5313000.0,NaN,NaN,NaN,NaN,NaN
73873,BRA,Brazil,2000,NaN,NaN,NaN,NaN,NaN,3228000.0,NaN,NaN,NaN,NaN
73874,BRA,Brazil,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.969000e+09,NaN,NaN
73875,BRA,Brazil,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159000000.0,NaN
73876,BRA,Brazil,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.810000e+09
73877,BRA,Brazil,2000,NaN,NaN,NaN,NaN,NaN,NaN,3.090241,NaN,NaN,NaN
75709,BRA,Brazil,2001,NaN,3.765000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75710,BRA,Brazil,2001,NaN,NaN,5.660000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75711,BRA,Brazil,2001,NaN,NaN,NaN,3.199000e+09,NaN,NaN,NaN,NaN,NaN,NaN
75712,BRA,Brazil,2001,5.256468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75713,BRA,Brazil,2001,NaN,NaN,NaN,NaN,4773000.0,NaN,NaN,NaN,NaN,NaN
75714,BRA,Brazil,2001,NaN,NaN,NaN,NaN,NaN,2674000.0,NaN,NaN,NaN,NaN
75715,BRA,Brazil,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.844000e+09,NaN,NaN
75716,BRA,Brazil,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113000000.0,NaN
75717,BRA,Brazil,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.731000e+09
75718,BRA,Brazil,2001,NaN,NaN,NaN,NaN,NaN,NaN,2.772215,NaN,NaN,NaN
77550,BRA,Brazil,2002,NaN,2.929000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77551,BRA,Brazil,2002,NaN,NaN,5.330000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77552,BRA,Brazil,2002,NaN,NaN,NaN,2.396000e+09,NaN,NaN,NaN,NaN,NaN,NaN
77553,BRA,Brazil,2002,4.819103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77554,BRA,Brazil,2002,NaN,NaN,NaN,NaN,3785000.0,NaN,NaN,NaN,NaN,NaN
77555,BRA,Brazil,2002,NaN,NaN,NaN,NaN,NaN,2338000.0,NaN,NaN,NaN,NaN
77556,BRA,Brazil,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.142000e+09,NaN,NaN
77557,BRA,Brazil,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144000000.0,NaN
77558,BRA,Brazil,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.998000e+09
77559,BRA,Brazil,2002,NaN,NaN,NaN,NaN,NaN,NaN,3.106912,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86755,BRA,Brazil,2007,NaN,1.043400e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86756,BRA,Brazil,2007,NaN,NaN,2.223000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86757,BRA,Brazil,2007,NaN,NaN,NaN,8.211000e+09,NaN,NaN,NaN,NaN,NaN,NaN
86758,BRA,Brazil,2007,6.612571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86759,BRA,Brazil,2007,NaN,NaN,NaN,NaN,5026000.0,NaN,NaN,NaN,NaN,NaN
86760,BRA,Brazil,2007,NaN,NaN,NaN,NaN,NaN,4662000.0,NaN,NaN,NaN,NaN
86761,BRA,Brazil,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.284000e+09,NaN,NaN
86762,BRA,Brazil,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,331000000.0,NaN
86763,BRA,Brazil,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.953000e+09
86764,BRA,Brazil,2007,NaN,NaN,NaN,NaN,NaN,NaN,2.862354,NaN,NaN,NaN
88596,BRA,Brazil,2008,NaN,1.326900e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88597,BRA,Brazil,2008,NaN,NaN,2.307000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88598,BRA,Brazil,2008,NaN,NaN,NaN,1.096200e+10,NaN,NaN,NaN,NaN,NaN,NaN
88599,BRA,Brazil,2008,6.024597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88600,BRA,Brazil,2008,NaN,NaN,NaN,NaN,5050000.0,NaN,NaN,NaN,NaN,NaN
88601,BRA,Brazil,2008,NaN,NaN,NaN,NaN,NaN,5238000.0,NaN,NaN,NaN,NaN
88602,BRA,Brazil,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.109000e+09,NaN,NaN
88603,BRA,Brazil,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324000000.0,NaN
88604,BRA,Brazil,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.785000e+09
88605,BRA,Brazil,2008,NaN,NaN,NaN,NaN,NaN,NaN,2.674776,NaN,NaN,NaN
90437,BRA,Brazil,2009,NaN,1.289700e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90438,BRA,Brazil,2009,NaN,NaN,1.999000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90439,BRA,Brazil,2009,NaN,NaN,NaN,1.089800e+10,NaN,NaN,NaN,NaN,NaN,NaN
90440,BRA,Brazil,2009,7.382477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90441,BRA,Brazil,2009,NaN,NaN,NaN,NaN,4802000.0,NaN,NaN,NaN,NaN,NaN
90442,BRA,Brazil,2009,NaN,NaN,NaN,NaN,NaN,4920000.0,NaN,NaN,NaN,NaN
90443,BRA,Brazil,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.635000e+09,NaN,NaN
90444,BRA,Brazil,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330000000.0,NaN
90445,BRA,Brazil,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.305000e+09
90446,BRA,Brazil,2009,NaN,NaN,NaN,NaN,NaN,NaN,3.118030,NaN,NaN,NaN